@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bower Bold';
  src: url('../fonts/mckinsey/Bower-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-LightItalic.woff2') format('woff2');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'McKinsey Sans';
  src: url('../fonts/mckinsey/McKinseySans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/* Highlight text selection */
::-moz-selection {
  background: #dcddde;
}

::selection {
  background: #dcddde;
}

p {
  font-family: 'McKinsey Sans';
  font-size: 1.25rem;
  font-weight: light;
  color: #333;
}

h1 {
  font-family: 'Bower Bold';
  -webkit-font-smoothing: antialiased;
}
